:root{
    --prefers-light-bg: #cfcfcf;
    --prefers-dark-bg: #222;
    font-size: 16px;
}
.page-header{
    padding: 1rem;
    margin: 0;
    background: radial-gradient(rgba(55, 55, 55, .8), rgba(222, 222, 222, 0.5));  
}
.page-header p{
    text-align: center;
    font-style: italic;
}
body{
    margin: 0;
    background-color: var(--prefers-dark-bg);
    color: var(--prefers-light-bg);
}
body *{
    margin: .5rem 1rem;
    padding: .2rem .2rem;

}
h1{
    text-align: center;
    font-weight: 300;
}
.attr-result li{
    list-style: none;
}